$small-break: 600px;
$medium-break: 1000px;
$large-break: 1500px;

html {
  @media print {
    font-size: 0.5em;
  }

  font-size: 1.125em;

  @media screen and (max-width: $large-break) {
    font-size: 1em;
  }
  @media screen and (max-width: $medium-break) {
    font-size: 0.875em;
  }
  @media screen and (max-width: $small-break) {
    font-size: 0.75em;
  }
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  margin: 1rem auto;
  letter-spacing: 0.01rem;
  max-width: 60rem;

  @media print {
    max-width: none;
    margin: 0 auto;
  }

  @media screen and (max-width: 840px) {
    margin: 0 auto;
  }
}

h1, h2, h3 {
  font-family: 'Neuton', serif;
  font-weight: 300;
  letter-spacing: 0.02rem;

  &#siteHeading {
    @media print {
      margin-top: 0;
    }
  }
}

main {
  padding: 2rem 3rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  background: url('../static/img/funky-lines.jpg');
  position: relative;
  padding-top: 9rem;

  @media print {
    box-shadow: none;
    padding: 0;
    background: none;
  }
}

main {
  > section {
    &#projects, &#education {
      > div#grid {
        > section {
          flex: 0 0 calc(50% - 1.5rem);

          @media screen and (max-width: $medium-break) {
            
          }
          @media screen and (max-width: $small-break) {
            flex: 0 0 100%;
          }
        }
      }
    }
    > div#grid {
      display: flex;
      flex-wrap: wrap;

      > section {
        flex: 0 0 calc(33% - 1.5rem);
        margin-right: 1.5rem;

        @media screen and (max-width: $medium-break) {
          flex: 0 0 calc(50% - 1.5rem);
          margin-right: 1.5rem;
        }
        @media screen and (max-width: $small-break) {
          flex: 0 0 100%;
        }
      }
    }
  }
}